[submodule "src/golang"]
	path = src/golang
	url = git@github.com:MarcolinoProjects/Voting-app_Backend_Go-web-and-worker.git
[submodule "src/websocket"]
	path = src/websocket
	url = git@github.com:MarcolinoProjects/-Voting-app_Backend_Ts-websocket.git
[submodule "src/frontend"]
	path = src/frontend
	url = git@github.com:MarcolinoProjects/Voting-app_Frontend.git
